In [1]:
import numpy as  np
import pandas as pd

In [2]:
#loading dataset
sms=pd.read_csv("C:\Users\Yatharth Saxena\Downloads\Compressed\pycon-2016-tutorial-master\pycon-2016-tutorial-master\data\yelp.csv")

In [3]:
sms.head(10)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
5,-yxfBYGB6SEqszmxJxd97A,2007-12-13,m2CKSsepBCoRYWxiRUsxAg,4,"Quiessence is, simply put, beautiful. Full wi...",review,sqYN3lNgvPbPCTRsMFu27g,4,3,1
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
7,hW0Ne_HTHEAgGF1rAdmR-g,2012-07-12,JL7GXJ9u4YMx7Rzs05NfiQ,4,"Luckily, I didn't have to travel far to make m...",review,1ieuYcKS7zeAv_U15AB13A,0,1,0
8,wNUea3IXZWD63bbOQaOH-g,2012-08-17,XtnfnYmnJYi71yIuGsXIUA,4,Definitely come for Happy hour! Prices are ama...,review,Vh_DlizgGhSqQh4qfZ2h6A,0,0,0
9,nMHhuYan8e3cONo3PornJA,2010-08-11,jJAIXA46pU1swYyRCdfXtQ,5,Nobuo shows his unique talents with everything...,review,sUNkXg8-KFtCMQDV6zRzQg,0,1,0

In [4]:
sms_df = sms[['text','stars']].copy()
sms_df

                                                   text  stars
0     My wife took me here on my birthday for breakf...      5
1     I have no idea why some people give bad review...      5
2     love the gyro plate. Rice is so good and I als...      4
3     Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
4     General Manager Scott Petello is a good egg!!!...      5
5     Quiessence is, simply put, beautiful.  Full wi...      4
6     Drop what you're doing and drive here. After I...      5
7     Luckily, I didn't have to travel far to make m...      4
8     Definitely come for Happy hour! Prices are ama...      4
9     Nobuo shows his unique talents with everything...      5
10    The oldish man who owns the store is as sweet ...      5
11    Wonderful Vietnamese sandwich shoppe. Their ba...      5
12    They have a limited time thing going on right ...      5
13    Good tattoo shop. Clean space, multiple artist...      4
14    I'm 2 weeks new to Phoenix. I looked up Irish ...      4
15    Was it worth the 21$ for a salad and small piz...      2
16    We went here on a Saturday afternoon and this ...      3
17    okay this is the best place EVER! i grew up sh...      5
18    I met a friend for lunch yesterday. \n\nLoved ...      3
19    They've gotten better and better for me in the...      4
20    DVAP....\n\nYou have to go at least once in yo...      3
21    This place shouldn't even be reviewed - becaus...      5
22    first time my friend and I went there... it wa...      5
23    U can go there n check the car out. If u wanna...      1
24    I love this place! I have been coming here for...      5
25    This place is great.  A nice little ole' fashi...      4
26    I love love LOVE this place. My boss (who is i...      5
27    Not that my review will mean much given the mo...      4
28    Came here for breakfast yesterday, it had been...      4
29    Always reliably good.  Great beer selection as...      4
...                                                 ...    ...
9970  This place is super cute lunch joint.  I had t...      5
9971  The staff is great, the food is great, even th...      5
9972  Yay, even though I miss living in Coronado I a...      4
9973  Wow!  Went on a Sunday around 11am - busy but ...      5
9974  If Cowboy Ciao is the best restaurant in Scott...      2
9975  When I lived in Phoenix, I was a regular at Fe...      5
9976  I was looking for chile rellenos and this plac...      3
9977  Why did I wait so long to try this neighborhoo...      5
9978  This is the place for a fabulos breakfast!! I ...      5
9979  Highly recommend. This is my second time here ...      5
9980  5 stars for the great $5 happy hour specials. ...      5
9981  We brought the entire family to Giuseppe's las...      5
9982  Best corned beef sandwich I've had anywhere at...      4
9983  3.5 stars. \n\nWe decided to check this place ...      3
9984  Went last night to Whore Foods to get basics t...      1
9985  Awesome food! Little pricey but delicious. Lov...      4
9986  I came here in December and look forward to my...      4
9987  The food is delicious.  The service:  discrimi...      1
9988  For our first time we had a great time! Our se...      4
9989  Great food and service! Country food at its best!      5
9990  Yes I do rock the hipster joints.  I dig this ...      5
9991  Only 4 stars? \n\n(A few notes: The folks that...      5
9992  I'm not normally one to jump at reviewing a ch...      5
9993  Judging by some of the reviews, maybe I went o...      4
9994  Let's see...what is there NOT to like about Su...      5
9995  First visit...Had lunch here today - used my G...      3
9996  Should be called house of deliciousness!\n\nI ...      4
9997  I recently visited Olive and Ivy for business ...      4
9998  My nephew just moved to Scottsdale recently so...      2
9999  4-5 locations.. all 4.5 star average.. I think...      5

[10000 rows x 2 columns]

In [5]:
sms_df = sms_df[(sms_df.stars == 1) | (sms_df.stars == 5)]

In [6]:
sms_df.head(10)

                                                 text  stars
0   My wife took me here on my birthday for breakf...      5
1   I have no idea why some people give bad review...      5
3   Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
4   General Manager Scott Petello is a good egg!!!...      5
6   Drop what you're doing and drive here. After I...      5
9   Nobuo shows his unique talents with everything...      5
10  The oldish man who owns the store is as sweet ...      5
11  Wonderful Vietnamese sandwich shoppe. Their ba...      5
12  They have a limited time thing going on right ...      5
17  okay this is the best place EVER! i grew up sh...      5

In [7]:
X=sms_df.text
y=sms_df.stars
print(X.shape)
print(y.shape)

(4086,)
(4086,)

In [8]:
#splitting training data and test data in 75% and 25% respectively
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3064,)
(1022,)
(3064,)
(1022,)

c:\python27\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
vect= CountVectorizer(stop_words='english')

In [10]:
X_train_dtm= vect.fit_transform(X_train)

In [11]:
X_test_dtm= vect.transform(X_test)
X_test_dtm

<1022x16528 sparse matrix of type '<type 'numpy.int64'>'
	with 45310 stored elements in Compressed Sparse Row format>

In [12]:
from sklearn.naive_bayes import MultinomialNB
nb= MultinomialNB()

In [13]:
#fitting dtraining data in naive bayes
%time nb.fit(X_train_dtm, y_train)

Wall time: 137 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [14]:
#predicting output for test data
y_pred_class= nb.predict(X_test_dtm)
#calculating accuracy of output of test data
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.91585127201565553

In [15]:
#confusion matricsshows number of wrong  and right predictions
metrics.confusion_matrix(y_test, y_pred_class)

array([[124,  60],
       [ 26, 812]], dtype=int64)

In [16]:
X_train_tokens = vect.get_feature_names()
len(X_train_tokens)

16528

In [17]:
print X_train_tokens[0:50]

[u'00', u'000', u'00a', u'00am', u'00pm', u'01', u'02', u'03', u'03342', u'04', u'05', u'06', u'07', u'09', u'0buxoc0crqjpvkezo3bqog', u'0l', u'10', u'100', u'1000', u'1000x', u'1001', u'100th', u'101', u'102', u'105', u'1070', u'108', u'10am', u'10ish', u'10min', u'10mins', u'10minutes', u'10pm', u'10th', u'10x', u'11', u'110', u'1100', u'111', u'111th', u'112', u'115th', u'118', u'11a', u'11am', u'11p', u'11pm', u'12', u'120', u'128i']

In [18]:
print X_train_tokens[-50:]

[u'yyyyy', u'z11', u'za', u'zabba', u'zach', u'zam', u'zanella', u'zankou', u'zappos', u'zatsiki', u'zen', u'zero', u'zest', u'zexperience', u'zha', u'zhou', u'zia', u'zihuatenejo', u'zilch', u'zin', u'zinburger', u'zinburgergeist', u'zinc', u'zinfandel', u'zing', u'zip', u'zipcar', u'zipper', u'zippers', u'zipps', u'ziti', u'zoe', u'zombi', u'zombies', u'zone', u'zones', u'zoning', u'zoo', u'zoyo', u'zucca', u'zucchini', u'zuchinni', u'zumba', u'zupa', u'zuzu', u'zwiebel', u'zzed', u'\xe9clairs', u'\xe9cole', u'\xe9m']

In [19]:
nb.feature_count_.shape

(2, 16528)

In [20]:
five_token_count = nb.feature_count_[0,:]
five_token_count

array([ 26.,   4.,   1., ...,   0.,   0.,   0.])

In [21]:
one_token_count = nb.feature_count_[1,:]
one_token_count

array([ 39.,   5.,   0., ...,   1.,   1.,   1.])

In [22]:
tokens= pd.DataFrame({'token':X_train_tokens, 'five_star':five_token_count,'one_star':one_token_count})

In [23]:
tokens.head(10)

   five_star  one_star  token
0       26.0      39.0     00
1        4.0       5.0    000
2        1.0       0.0    00a
3        3.0       2.0   00am
4        1.0       4.0   00pm
5        1.0       2.0     01
6        1.0       0.0     02
7        1.0       0.0     03
8        1.0       0.0  03342
9        0.0       1.0     04

In [24]:
tokens.sample(5, random_state=6)

       five_star  one_star        token
14655        1.0       2.0        teams
8540         0.0       1.0       lifter
4055         0.0       1.0        decaf
614          0.0       1.0      airfair
3404         0.0       1.0  consistancy

In [25]:
nb.class_count_
#2499 - 1 star
#565 - 5 stars

array([  565.,  2499.])